@import url(https://fonts.googleapis.com/css?family=Raleway|Lobster);

*, html, head, body, header, hgroup, section, article, aside, nav, ul, ol, li, figure, footer, blockquote, code, p h1, h2, h3, h4, h5, h6, div, span, ins, dd, di {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Raleway", sans-serif;
}

header, hgroup, h1, h2, h3, h4, h5, h6 {
    font-family: "Lobster", cursive;
    font-size: 1.5em;
}

code {
    font-family: monospace;
    font-weight: 500;
}

body {
    background-color: rgb(60, 20, 0);
    color: rgb(220, 180, 20);
}

#loader {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 2em;
    text-overflow: ellipsis;
}
