@import url(https://fonts.googleapis.com/css?family=Raleway|Lobster);

/* #EA4961 */

*, html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Raleway", sans-serif;
}

header, hgroup, h1, h2, h3, h4, h5, h6 {
    font-family: "Lobster", cursive;
    color: #F5827D;
}

h1, h2 {
	text-align: center;
}

code {
    font-family: monospace;
    font-weight: 500;
}

ul, ol, li {
	list-style: none;
}

body {
	height: 100vh;
    background-color: #FFF;
    color: #000;
    overflow: hidden;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.toggle-up {
	transform: translate(0, -100vh);
}

.toggle-down {
	transform: translate(0, 100vh);
}

.deck {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	position: relative;
	z-index: 20;
}

.deck .up {
	height: 50vh;
	top: 0;
	background: #9BB899;
	overflow: hidden;
	transition: transform 0.5s;
}

.deck .down {
	height: 50vh;
	bottom: 0;
	background: #9BB899;
	overflow: hidden;
	transition: transform 0.5s;
}

.loader {
	min-width: 10vmax;
	min-height: 10vmax;
	background: #F5827D;
	border-radius: 100%;
	cursor: pointer;
	font-size: 3vmax;
	box-shadow: 5px 10px 2px 0px rgba(0, 0, 0, 0.3);
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
	z-index: 50;
	color: #FFF;
}

.loader:hover {
	background-color: #FCCEAA;
}

.colorful {
	background: #FFCE9C;
}

.colorful:hover {
	background-color: #FCCEAA;
}

.back {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;
}

.back h2 {
	color: #F5827D;
	text-align: center;
}

.boxes {
	min-width: 70vw;
	min-height: 70vh;
}

.boxes article {
	position: relative;
	margin: 3vmax;
	padding: 10px;
	text-align: justify;
}

#about {
	top: 0;
}

#blog {
	float: left;
}

#blog img {
	
}

#projects {
	float: right;
}

#design {
	clear: both;
	bottom: 0;
}
